---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ColumnLimit: 80

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

IndentCaseLabels: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^<[A-Za-z0-9_/.]+\.h>$'
    Priority: 1
  - Regex: '^<rte_.*\.h>$'
    Priority: 2
  - Regex: '^"snemu_.*\.h"$'
    Priority: 3
  - Regex: '.*'
    Priority: 4

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: Always
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
BreakStringLiterals: true
